
#btn {
   
    width: 60%;
}

.home {
    height: 543px;
    padding: 3px 40px;
}


.home::before {
    height: 543px;
}

#home-jugaad {
    font-size: 4.4rem;
    font-weight: 300;
}

#text-1 {
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;

}

#sponsor {
    flex-wrap: wrap;
    margin-bottom: 45px;
}


#sponsor img {
    height: 100px;
}